/* Stylesheet for Animal Trading Cards
Author: LaTasha Hussey
Purpose: Front-End Developer Nanodegree Project
*/

body {
    font-family: "Raleway", sans-serif;
    font-size: 12px;
}

#trading-card {
    border: 1px solid #e4e4e4;
    box-shadow: 5px 5px #e4e4e4;
    padding: 10px;
    width: 300px;
}

h1 {
    font-family: "Oswald", sans-serif;
}

img {
    margin: auto;
    padding-bottom: 20px;
    width: 300px;
}

#trading-card-facts {
    border: 1px solid #e4e4e4;
    padding: 10px;
}

ul {
    list-style: none;
    padding-left: 0;
}

.animal-list-items {
    font-weight: 600;
    line-height: 1.5em;
}

.interesting-fact,
.description {
  font-style: italic;
}

.source {
    font-size: 10px;
}
